@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.home, .reports, .products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: #1a1a1a;
  margin-top: 2rem;
}
body {
  background-image: url('https://images.unsplash.com/photo-1523995462485-3d171b5c8fa9?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
 

}