/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
} */
.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: #cc6699;
  margin-top: 2rem;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;

  justify-content: center;
  margin-top: 200px;
  align-items: stretch;
}
.article-list li {
  display: grid;
  flex: 0 1 300px;
  list-style: none;
}
.article-card {
  width: 100%;
  min-height: 300px;
  border: 1px solid #c22b2b;
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.article-card-img {
  width: 90%;
  height: auto;
  transition: transform 0.3s easy;
}
.article-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-color: #aaa;
  transform: scale(1.05);
}

.comment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}
.comment-card:hover {
  transform: scale(1.01);
}
.comment-card-author {
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
}
.comment-card-topic {
  font-style: italic;
  color: #555;
}
.comment-card-date {
  font-weight: bold;
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 8px;
}
.textarea-box {
  height: 75px;
  width: 465px;
}
.comment-button {
  height: 30px;
  width: 80px;
  background-color: #b4afaf;
  font-size: 1.05rem;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
.about-section {
  background-color: #fff1f7;
  padding: 50px 30px;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 40px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
  font-family: 'Playfair Display', serif;
}

.about-quote {
  font-family: 'Playfair Display', serif; 
  font-size: 28px;
  color: #cc6699;
  font-style: italic;
  margin-bottom: 20px;
}

.about-text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #555;
  max-width: 700px;
  margin: 0 ;
  line-height: 1.6;
}
.topics-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;  
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}
.topic-list li{
  flex-direction: 1 1 200px;
}
.topics-card{
  border: 1px solid #1b1919;
  border-radius: 8px;
  padding: 19px;
  background-color: #f9f9f9;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.topics-card:hover{
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-color: #aaa;
  transform: scale(1.05);
}
.topic-card-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  
}